[package]
edition = "2021"
name = "snarkos-aot"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["node"]
node = ["snarkos-node", "crossterm"]

[dependencies]
aleo-std.workspace = true
anyhow.workspace = true
axum.workspace = true
clap.workspace = true
colored.workspace = true
indexmap.workspace = true
indicatif.workspace = true
lazy_static.workspace = true
nix.workspace = true
rand.workspace = true
rand_chacha.workspace = true
rayon.workspace = true
reqwest = { workspace = true, features = ["blocking", "json"] }
serde-clap-deserialize = "0.1.0"
serde.workspace = true
serde_json.workspace = true
snarkos-account.workspace = true
snarkos-node = { workspace = true, optional = true }
snarkvm.workspace = true
snot-common.workspace = true
tokio.workspace = true
tower-http.workspace = true
tracing-flame = "0.2.0"
tracing-appender.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true
crossterm = { version = "0.27", optional = true }

[target.'cfg(all(target_os = "linux", target_arch = "x86_64"))'.dependencies]
tikv-jemallocator = "0.5"
